<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QUANLYDIEMSINHVIEN.Properties.Settings.QLDSVConnectionString"
            connectionString="Data Source=DESKTOP-OBANFPJ;Initial Catalog=QLDSV;Persist Security Info=True;User ID=sa;Password=1"
            providerName="System.Data.SqlClient" />
        <add name="QUANLYDIEMSINHVIEN.Properties.Settings.QLDSVConnectionString1"
            connectionString="Data Source=DESKTOP-OBANFPJ\SERVER1;Initial Catalog=QLDSV;User ID=sa;Password=1"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>